<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
 div{
 	/*요소의 배경색상: 회색*/
 	background-color: #ccc;
 	
 	/* 컨텐츠 영역의 너비 */
 	width: 100px;
 	height: 50px;
 	
 	/*border: 1px solid black;*/
 	
 	border-width: 1px;
 	border-style: solid;
 	border-color: black;
 	
 	/* 내부 여백*/
 	padding: 20px 30px 50px 60px;
 	/* 외부 여백*/
 	margin: 10px 30px 50px 80px;
 }

</style>
</head>
<body>
<h1>태그 영역 크기</h1>
<hr>

<div>하나</div>
<div>둘</div>
<div>셋</div>
<div>넷</div>
<div>다섯</div>

</body>
</html>