<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
.img-box {
	width: 400px;
	height:300px;
	text-align: center;
	
	border: 1px solid #ccc;
	/* 요소의 그림자를 생성 */
	/* box-shadow: x축 이동 y축이동 흐려짐, 펼쳐짐, 색상 */
	box-shadow: 5px 5px 10px 0 #999;
	
	 
/* 	transform - 요소의 모양을 변형한다.*/
/*	transform: rotate(degree); - 적용한 각도만큼 회전 변형한다 */

	
	transform: rotate(20deg);
	
/*	transform: scale(1.X); - 크기를 바꾼다. */
	transform:scale(1.5);

}

.img-box img {
	width: 380px;
}


</style>

</head>
<body>

<header>
	<h1>HTML5 추가된 CSS 속성</h1>
	<h3>벤더 프리픽스, Vendor Prefix</h3>
	
<div>
</div>
<div>
<p>본문</p>
<p>내용물</p>
<p>마무리</p>
</div>

<div class="img-box">
	<img alt="미니언" src="../resources/image/m1.jpg"><br>
	미니언즈
</div>
<hr>


</header>

</body>
</html>