<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
span{ font-size: 30px;}

#span1 { background: red;}
#span2 { background: green;}
#span3 { border: 1px solid blue;}

#span1 { float: left;}
#span1 { float: right;}

#div{

	border: 1px solid #ccc;
	
	text-align: center;
	
	width: 900px;
	
	margin: 0 auto;

}

</style>
</head>
<body>
<div>

	<span id="span1">span1</span>
	<span id="span2">span2</span>
	<span id="span3">span3span3span3span3span3span3span3span3span3span3span3span3span3</span>
	



</div>

</body>
</html>