<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">

#wrap > div {
	display: inline-block;
	
	border: 1px solid #ccc;
	
	width: 150px;
	height: 150px;
	
	background-color: #999;
	
	padding: 10px;
	margin: 20px;
}
#wrap{
	text-align: center;
	
	width: 1400px;
	margin: 0 auto;
	
	border: 3px solid #eee;
}

</style>
</head>
<body>
<div id="wrap">
	<div>DIV1 DIV1</div>
	<div>DIV2 DIV2</div>
	<div>DIV3 DIV3</div>
	<div>DIV4 DIV4</div>
	<div>DIV5 DIV5</div>

</div>

</body>
</html>