<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
span{
	/* 인라인 요소에 테두리 적용하면 꼭 확인해볼것*/
	border: 1px solid red;
	
	line-height: 2.5em;
	
	width: 1000px;
	height: 1000px;
/* 	내부 여백은 콘텐츠를 감싸는 영역이 된다 */
/* 인접한 다른인라인영역을 침범할 수 도 있다. */
	padding: 5px;
	
	margin: 10px;
	
	font-size: 30px;
}

</style>
</head>
<body>
<div>
	<span>span1</span>
	<span>span2</span>
	<span>span3span3span3span3span3span3span3span3span3span3span3span3span3</span>
	<span>그들은 행복스럽고 하였으며, 아름답고 무엇을 목숨을 고행을 뜨거운지라, 같은 황금시대다. 힘차게 눈에 풍부하게 이상, 낙원을 있음으로써 것이다.</span>

</div>

</body>
</html>